body{
    background-color:#cccccc;
}
li{
    list-style-type: none;
}
.chat-window{
    background: #fff;
    width: 1300px;
    margin: 30px auto;
    box-shadow: -10px 10px 5px 0px rgba(0, 0, 0, .2);
    overflow: hidden;
    min-height: 700px;
    position: relative;
    }
.nav-panel{
    width: 200px;
    background: #59c07e;
    float: left;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    }
ul {
    padding-inline-start: 0px;
    text-align: center;
}
ul li a{
        padding: 20px;
        color:  black;
        text-decoration: none;
        display: block;
        position: relative;
        border-bottom: 1px solid #007a258e;
        font-family: 'Roboto', sans-serif;
        }

ul li a:hover{
        background: #10ad4a;
        color: white;
        text-decoration: none;
        }
a:visited{

color: black;
}

.chat{
    position: absolute;
    float: left;
    top: 0;
    bottom: 0;
    left: 200px;
    right:200px;
    }
.chat-list{
    position: absolute;
    float: left;
    top: 10px;
    bottom: 50px;
    left: 10px;
    right:0px;
}
.input-area{
    background: whitesmoke;
    padding: 6px;
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    border-top: 1px solid #cfdae1;
    }
    .input-area .input-wrapper{
    background: #fff;
    border: 1px solid #cfdae1;
    overflow: hidden;
    float: left;
    }
    .input-area .input-wrapper input{
    height: 30px;
    line-height: 30px;
    border: 0;
    margin: 0;
    padding: 0 10px;
    outline: none;
    color: #5D7185;
    min-width: 800px;
    }
.send-btn {
    background-color: #4CAF50;
    color: white;
    padding: 8px 17px;
    border: none;
    cursor: pointer;
}
.send-btn:hover {
    opacity: 0.7;
}
    
.online-list{
    background: whitesmoke;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    border-left: 2px solid #cfcfcf;

    width: 200px;
}
.span-online-users{
    font-family: 'Roboto', sans-serif;
    position: relative;
    top: 10px;
    left: 30px;
}
.friend-sign{
    color: #59c07e;
    user-select: none;
    
}
.users-list{
    padding: 10px;
    text-align: center;
}
.friend-window{
    position: absolute;
    top: 10px;
    bottom: 0px;
    left: 10px;
}
.online-list-item{
    padding-top: 10px;
    text-align: center;
}
.online-list-a {
    cursor: pointer;
    color: black;
}
.online-list-a:hover {
    cursor: pointer;
    color: #59c07e;
}
.online-list-a:visited{
    color: green;
}
.logout-btn{
    background-color: rgb(219, 59, 59);
    position: relative;
    top: 397px;
    color: white;
    padding: 15px 10px;
    margin: 10px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    font-family: 'Roboto', sans-serif;
}
.logout-btn:hover{
    background-color: rgb(189, 30, 30);
}
/*------------------profile------------------------*/
.profile-window{
    position: absolute;
    float: left;
    top: 10px;
    bottom: 0;
    left: 10px;
    right:0;
    }
.input-area-profile{
  
    padding: 6px;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0px;
    bottom: 360px;
    border-top: 1px solid #cfdae1;
    }
.input-area-profile .input-wrapper-profile{
    background: #fff;
    border: 1px solid #cfdae1;
    overflow: hidden;
    float: left;
    }
.input-area-profile .input-wrapper-profile input{
    height: 30px;
    line-height: 30px;
    border: 0;
    margin: 0;
    padding: 0 10px;
    outline: none;
    color: #5D7185;
    min-width: 865px;
    }
.submit-btn-profile{
    position: relative;
    top: 10px;
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}
.submit-btn-profile:hover{
    background-color: rgb(32, 121, 35);
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}
.span-profile{
    font-family: 'Roboto', sans-serif;
}
/*------------------profile_end------------------------*/

/*------------------someone_profile------------------------*/
.someone-profile-window{
    position: absolute;
    float: left;
    top: 10px;
    bottom: 0;
    left: 210px;
    right:210px;
    }
.input-area-someone-profile{
    padding: 6px;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0px;
    bottom: 360px;
    border-top: 1px solid #cfdae1;
    }
.input-area-someone-profile .input-wrapper-someone-profile{
    background: #fff;
    border: 1px solid #cfdae1;
    overflow: hidden;
    float: left;
    }
.input-area-someone-profile .input-wrapper-someone-profile input{
    height: 30px;
    line-height: 30px;
    border: 0;
    margin: 0;
    padding: 0 10px;
    outline: none;
    color: #5D7185;
    min-width: 865px;
    }
.open-privateChat-btn{
    position: relative;
    top: 10px;
    background-color: #4CAF50;
    color: white;
    padding: 10px 60px;
    border: none;
    cursor: pointer;
}
.open-privateChat-btn:hover{
    background-color: rgb(32, 121, 35);
    color: white;
    padding: 10px 60px;
    border: none;
    cursor: pointer;
}
.add-to-friends-btn {
    position: relative;
    top: 10px;
    background-color: #4CAF50;
    color: white;
    padding: 10px 10px;
    border: none;
    cursor: pointer;
}
.add-to-friends-btn:hover{
    background-color: rgb(32, 121, 35);
    color: white;
    padding: 10px 10px;
    border: none;
    cursor: pointer;
}
.span-someone-profile{
    font-family: 'Roboto', sans-serif;
}

/*------------------someone_profile_end------------------------*/
